.position-relative,
.position-static,
.position-absolute,
.position-fixed,
.position-sticky {
    width: 800px;
    height: 700px;
    border: 10px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.position-sticky {
    height: 100px;
    background-color: #413ce0;
    color: #fff;
    position: sticky;
    top: 0;
}

.position-fixed {
    height: 100px;
    background-color: #e8921a;
    position: fixed;
    top: 30px;
    right: 0;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #dfd811;
    margin: 5px;
    font-size: 100px;
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
}

.box-static {
    background-color: #0ed9cf;
    position: static;
}

.box-relative {
    background-color: #e427d4;
    position: relative;
    /* now that positioning is changed to relative */
    /* we have access to more css properties */
    /* top bottom left right and z-index */
    /* top: 150px;
    left: 300px; */
    /* right: 40px;
    bottom: 50px; */
    top: 60px;
    left: 70px;
    z-index: -5;
}

.position-absolute {
    position: relative;
}

.box-absolute {
    background-color: #2efe05;
    position: absolute;
    /* top bottom left and right properties*/
    /* top:25px;
    right: 50px; */
    /* bottom: 0;
    left: 200px; */
    left: 40px;
    top: 220px;
    z-index: -200;
}

.🍎{
    background-color: #eb1f30;
    position: absolute;
    left: 60px;
    top: 190px;
    z-index: -199;
}