/* font text typography */
/*  we use dot dot to move up a folder ../ ../ */

/* @font-face {
  font-family: "Playwrite Regular";
  src: url("../fonts/PlaywriteITModerna-Regular.ttf");
}

@font-face {
  font-family: "My Other Font";
  src: url("../fonts/Merriweather-Regular.ttf");
} */

.😀 {
  color: #765;
  /* font-family: "Playwrite Regular", serif; */
  /* font-family: "My Other Font", Arial, Helvetica, sans-serif; */
  font-family: "Poppins", sans-serif;
}
